.home__about__section {
  padding-top: 80px;
}

.home__about__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.home__about__text__container {
  width: 60%;
}

.home__about__text {
  text-align: left;
  line-height: 2.5rem;
  white-space: normal;
}

.home__about__image__container {
  width: 35%;
}

.home__about__image,
.home__about__logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home__about__logo__image {
  display: none;
}

/*-------------------- Media Query --------------------*/
@media screen and (max-width: 1200px) {
  .home__about__text {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .home__about__title {
    margin-bottom: 1rem;
  }

  .home__about__text {
    font-size: 0.875rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .home__about__section {
    padding-top: 30px;
  }

  .home__about__container {
    flex-direction: column;
    gap: 0;
  }

  .home__about__text__container {
    width: 100%;
    order: 2;
  }

  .home__about__text {
    text-align: center;
  }

  .home__about__image__container {
    order: 1;
    width: 100px;
    height: 100px;
    margin-bottom: 2rem;
  }

  .home__about__image {
    display: none;
  }

  .home__about__logo__image {
    display: block;
  }
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
}
