.about__section{
    border:2px solid black;
    min-height: 100vh;
}

.about__container{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    padding: 0;
}

.about__image{
    border:2px solid red;
    border-radius: 2rem;
}

.about__text__container{
    border:2px solid red;
    
}