.enviroment__container {
  width: 100%;
  height: 100%;
}

.enviroment__content__container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.enviroment__image__container {
  border-radius: 2rem;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.enviroment__content__container:nth-child(2n) > .enviroment__image__container {
  order: 1;
}

.enviroment__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enviroment__text__container {
  width: 50%;
}

/*-------------------- Media Query --------------------*/
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .enviroment__content__container {
    flex-direction: column;
  }

  .enviroment__text__container {
    margin-bottom: 2rem;
    width: 100%;
  }

  .enviroment__image__container {
    order: 1;
    width:100%;
    height:auto
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
}
