.article__section {
  border:2px solid black;
  padding-top: 2rem;
}

.article__container{
  border:2px solid black;
  min-height: 100vh;
  text-align: left;
  padding: 0 2rem
}

.article__information{
  display: flex;
}