.home__appointment__section {
  padding-top: 2rem;
}

.home__appointment__container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

@keyframes smile-animation {
  0% {
    background-image: url("../../../../public/images/appointment_image_1.png");
  }
  20% {
    background-image: url("../../../../public/images/appointment_image_2.png");
  }
  40% {
    background-image: url("../../../../public/images/appointment_image_3.png");
  }
  60% {
    background-image: url("../../../../public/images/appointment_image_4.png");
  }
  80% {
    background-image: url("../../../../public/images/appointment_image_5.png");
  }
  100% {
    background-image: url("../../../../public/images/appointment_image_1.png");
  }
}

.home__image__container {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-image: url("../../../../public/images/appointment_image_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: smile-animation 20s infinite;
  animation-delay: 1s;
  margin-bottom: 2rem;
}

.home__appointment__title {
  margin-bottom: 2rem;
}

.home__appointment__description {
  line-height: 2.5;
  white-space: nowrap;
}

/*-------------------- Media Query --------------------*/
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .home__appointment__description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .home__image__container {
    height: 180px;
    width: 180px;
  }

  .home__appointment__title {
    margin-bottom: 1rem;
  }

  .home__appointment__description {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 450px) {
  .home__image__container {
    height: 150px;
    width: 150px;
  }

  .home__appointment__title {
    font-size: 1.25rem;
  }

  .home__appointment__description {
    font-size: 0.625rem;
  }
}

@media screen and (max-width: 350px) {
  .home__appointment__description {
    font-size: 0.5rem;
  }
  .home__appointment__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
}
