/*=============== Google Font ===============*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

/*=============== Customized CSS Variables ===============*/

:root {
  --body-font: "Noto Sans TC", sans-serif;
}

/*============================================= Base Elements =============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f9f4ee; */
  /* background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
  background-image: linear-gradient(to right, #b6fbff, #83a4d4);
  background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4645&q=80");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: 1.25rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*========================================= Reuseable CSS Class ==========================================*/

.section {
  background-color: #ffffffbf;
  text-align: center;
  padding: 0 100px 100px;
}

.banner__container {
  display: flex;
  padding-top: 80px;
  background-color: #ffffffbf;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.shadow {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.primary__button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 1rem;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.25rem;
}

.primary__button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.primary__button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.primary__button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

/*============================================= Media Query =============================================*/

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .section__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .section{
    padding:0 30px 100px;
  }
}

@media screen and (max-width: 576px) {
  .section{
    padding:0 10px 100px;
  }
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
}
