.home__enviroment__section {
  border:2px solid black;
  height: 100vh;
  padding-top: 6rem;
}

.home__enviroment__container {
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.home__enviroment__content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
  height: 83%;
}

.home__enviroment__image__container {
  max-height: 100%;
  width: 40%;
  overflow: hidden;
  border-radius: 2rem;
}

.home__enviroment__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__enviroment__text__container {
  align-self: flex-start;
  text-align: left;
  width: 60%;
  height: 100%;
}

.home__enviroment__title {
  margin-bottom: 1rem;
}

.home__enviroment__text {
  line-height: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .home__enviroment__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .home__enviroment__text {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .home__enviroment__content__container {
    gap: 1rem;
  }

  .home__enviroment__text {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .home__enviroment__title {
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }

  .home__enviroment__text {
    line-height: 1.25rem;
    font-size: 0.5rem;
  }

  .home__enviroment__content__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home__enviroment__image__container {
    width: auto;
    height: auto;
  }

  .home__enviroment__text__container {
    height: auto;
    width: auto;
  }

  .home__enviroment__title {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
}

@media screen and (max-width: 300px) {
}
